.container {
  display: flex;
  width: 100vw;
  align-items: center;
  color: white;
  justify-content: center;
  background-image: linear-gradient(to right, #3a373f, #2ebf91);
  flex-direction: column;
}
.button {
  display: flex;
  gap: 1rem;
}
.selected{
    border-bottom: 1px solid rgb(235, 203, 23);
}